.fx {
    display: flex;

    &-i {
        display: flex !important;
    }

    &-row {
        flex-direction: row;
    }

    &-col {
        flex-direction: column;    
    }

    &-ver {

        &-cen {
            align-items: center;
        }
    }

    &-hor {

        &-cen {
            justify-content: center;
        }
    }

    &-wrap {
        flex-wrap: wrap;
    }

    &-gap {
        
        &-2 {
            gap: 2px;
        }
    }
}