// FONT SIZES AS CLASSES
$margin-top: 15, 30;

@each $size in $margin-top {
    .m-t-#{$size} {
        margin-top: #{$size}px;
    }
}

$margin-bottom: 10, 30, 45;

@each $size in $margin-bottom {
    .m-b-#{$size} {
        margin-bottom: #{$size}px;
    }
}