body {
    margin: 0;
    padding: 0;
}

.max-width {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    &-415 {
        max-width: 415px;
    }

    &-900 {
        max-width: 900px;
    }

    &-1280 {
        max-width: 1280px;
    }
}